.header ul {
    padding:0;
    margin:0;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header li{
    width:100%;
    text-align:center;
}

.content {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
}

.content h3 {
  text-align: center;
}

.content ul {
  padding: 0;
}

.content li {
  display: block;
}

.subheader {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.content.shop button {
  margin: 5px;
  width: 200px;
  height: 50px;
}

.content.cart {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.content.cart th {
  padding: 0 15px 15px 15px;
}

